.box {
  box-sizing: border-box;
  margin-top: 50px;
  margin: 20px 40px 10px 5px;
  border: 1px solid red;
  border-top: 10px dotted blue;
  border-left: 10px dashed red;
  padding: 20px 20px 30px 15px;

  width: 50%;
  font-size: large;
  color: aquamarine;
  background: #000000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 0.9;
}
