* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  background-color: aqua;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}
.box {
  background-color: blueviolet;
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
}
.box:nth-child(3) {
  /* flex-grow: 1.5; */
  padding: 20px;
}

.chip_section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.chip {
  background-color: aqua;
  padding: 4px 8px;
  border-radius: 50vw;
}
